* {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #F3F7FA;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}